.formServicio {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-left: 270px;
}

.formServicio-title {
    margin-left: 6vw;
    display: flex;
    align-items: flex-start;
    margin-top: 6vh;
}

.formServicio-title-txt {
    display: flex;
    flex-direction: column;
}

.formServicio-title-txt h1 {
    font-size: 28px;
    font-family: "Righteous";
    color: #d17b11;
    margin-left: 4vw;
}

.formServicio-title-txt p {
    font-family: "Open Sans";
    color: #373842;
    margin-left: 4vw;
}

.arrowImgForm {
    width: 2.3rem;
    margin-top: 1vh;
}

.formServicio-main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-left: 14vw;
    margin-top: 6vh;
}


.formDetail {
    display: flex;
    flex-direction: column;
    width: 45vw;
}

.formDetail select {
    background-color: #F4F2F2;
    border: 0;
    border-radius: 20px;
    height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #373842;
    font-family: "Open Sans";
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: 4vh;
}

.formDetail label {
    font-family: "Open Sans";
    color: #373842;
    font-weight: 600;
    margin-left: 1vw;
}

.formDetail input {
    background-color: #F4F2F2;
    border: 0;
    border-radius: 20px;
    color: #373842;
    font-family: "Open Sans";
    height: 5vh;
    margin-bottom: 2vh;
    padding-left: 2vw;
}

.invalid-feedback{
    margin-bottom: 2vh;
}

.formDetail textarea {
    background-color: #F4F2F2;
    border: 0;
    border-radius: 20px;
    color: #373842;
    font-family: "Open Sans";
    margin-bottom: 2vh;
    padding-left: 2vw;
}

.bloqueBotones {
    display: flex;
    width: 45vw;
    justify-content: space-around;
    margin-top: 6vh;
}

.bloqueBotones button {
    background-color: #fdaa46;
    border: 0;
    border-radius: 5px;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: #373842;
    font-family: "Open Sans";
    font-weight: 600;

}

.bloqueBotones button:hover {
    color: #6e6e6e;
}

.cancelButton {
    background-color: #373842 !important;
    color: #FFFFFF !important;
}

.cancelButton:hover {
    color: #747474 !important;
}

.formDetailCita {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.formDetailCita select {
    background-color: #F4F2F2;
    border: 0;
    border-radius: 20px;
    height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #373842;
    font-family: "Open Sans";
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: 4vh;
}

.formDetailCita label {
    font-family: "Open Sans";
    color: #373842;
    margin-bottom: 0;  
}

.formDetailCita p{
    margin-left: 1vw;
    margin-bottom: 1vh;
}

.formDetailCita input {
    padding-right: 2vw;
    background-color: #F4F2F2;
    border: 0;
    border-radius: 20px;
    color: #373842;
    font-family: "Open Sans";
    height: 5vh;
    margin-bottom: 2vh;
    padding-left: 2vw;
    width: 30vw;
}

.formDetailCita textarea {
    background-color: #F4F2F2;
    border: 0;
    border-radius: 20px;
    color: #373842;
    font-family: "Open Sans";
    margin-bottom: 4vh;
    padding-left: 2vw;
}

.bloqueBotonesCita {
    display: flex;
    width: 30vw;
    justify-content: space-around;
    margin-top: 6vh;
}

.bloqueBotonesCita button {
    background-color: #fdaa46;
    border: 0;
    border-radius: 5px;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: #373842;
    font-family: "Open Sans";
    font-weight: 600;
}

.bloqueBotonesCita button:hover {
    color: #6e6e6e;
}

.cancelButton {
    background-color: #373842 !important;
    color: #FFFFFF !important;
}

.cancelButton:hover {
    color: #747474 !important;
}

.bloqueBotonesCita input {
    background-color: #fdaa46;
    border: 0;
    border-radius: 5px;
    color: #373842;
    font-family: "Open Sans";
    font-weight: 600;
    margin-bottom: 0;
    height: inherit;
    width: 132px;

}

.bloqueBotonesCita input:hover {
    color: #747474 !important;
}

.formServicio-detail{
    margin-left: 14vw;
    margin-top: 4vh;
    font-family: "Open Sans";
    color: #373842;
}

.formServicio-detail h2{
    font-size: 1.3rem !important;
    font-family: "Righteous";
}

.formServicio-detail-bloc{
    display: flex;
    margin-top: 3vh;
}

.formServicio-detail-in1{
    display: flex;
    flex-direction: column;
}
.formServicio-detail-in2{
    display: flex;
    flex-direction: column;
}

.formServicio-detail-in2 p{
    margin-bottom: 0;
    margin-left: 5vw;
}

.formServicio-detail-in1 span{
    font-weight: 600;
}

.servicioDetailBarRe{
    display: flex;
    margin-top: 8vh;
    margin-left: 8vw;
    align-items: center;
}

.servicioDetailBarRe p{
    margin-bottom: 0;
    font-family: "Open Sans";
    color: #373842;
}

.servicioDetailBarRe a{
    color: #373842;
}
.servicioDetailBarRe a:hover{
    text-decoration-color: #373842;
}
